<% layout("/layouts/boilerplate") %>

<div class="row  mt-3">
    <h1 class="col-6 offset-3 mt-2 mb-2">Signup for WanderLust</h1>
    <div class="col-6 offset-3">

        <form action="/signup" method="POST" class="needs-validation" novalidate id="custom">
            <div class="mb-3 ">
                <label for="username" class="form-label">Username</label>
                <input name="username" placeholder="Enter username" id="username" type="text" class="form-control" required>

                <div class="valid-feedback">Looks good!</div>
            </div>

            <div class="mb-3 ">
                <label for="email" class="form-label">E-mail</label>
                <input name="email" placeholder="Enter e-mail" id="email" type="email" class="form-control" required>

                
            </div>

            <div class="mb-3 ">
                <label for="passowrd" class="form-label">Password</label>
                <input name="password" placeholder="Enter password" id="password" type="password" class="form-control" required>

               
            </div>

            <button class="btn edit-btn">SignUp</button>
        </form>

        <div style="margin-top: 10px" id="account">
            <p>Already have an account?&nbsp;<a href="/login">Login</a></p>
        </div>

        <div class="googleauth">
            <button><a href="/auth/google"><img src="/images/google-login.jpg">Sign up with Google</a></button>
        </div>
        <br>

        <div class="googleauth">
            <button style="background-color: black;"><a href="/auth/github" style="color: aliceblue;"><img src="/images/github.svg">Sign up with Github</a></button>
        </div>

    </div>

    <div style="margin-bottom: 40px"></div>

</div>